<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p><%= name%></p>
    <p><%= usn%></p>
    <p><%= sem%></p>
    <table>
        <th>SUBJECT CODE</th>
        <th>IA1 MARKS</th>
        <th>IA2 MARKS</th>
        <th>IA3 MARKS</th>
        <th>ACTIVITY MARKS</th>
        <th>AVERAGE MARKS</th>
        <th>GRADE</th>
        <%
        for(var i=0;i<items.length;i++){
        %>
        <tr>
            <td><%= items[i].sub_code%></td>
            <td><%= items[i].ia1_marks%></td>
            <td><%= items[i].ia2_marks%></td>
            <td><%= items[i].is3_marks%></td>
            <td><%= items[i].act_marks%></td>
            <td><%= items[i].avg%></td>
            <td><%= items[i].grade%></td>
        </tr> 
        <%}%>
    </table>
    <a href="/student_login" style="text-decoration: none;">Log Out</a>
</body>
</html>
